.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.button {
  background-color: lightblue;
  display: inline-block;
  margin-top: 3rem;
}

.offline-select *{
    display: block;
    margin-top: 3rem;
}

.difficulty-select * {
    display: block;
}